.main
      {
		width:1100px;
		height:1000px;
		background:#FFFBF0;
		margin:0px auto;
	  }
.brdr_cls
     {
	    border-style:solid;
	    border-color:#A0A0A4;
	    width:1095px;
	    height:850px;
      }
.head
      {
		width:1090px;
		height:100px;
		background:#7F00FF;
		border-style:solid;
		border-color:#F00;
	  }
.head_cls
       {
		 text-align:center;
		 margin-top:10px;
		 font-weight:bolder;
		 font-size:30px;
		 word-spacing:2px;
	   }
.head_cls 1
       {
		text-align:center;
	   }
.search
      {
		width:420px;
		height:50px;
		background:#0F0;
		margin:0px auto;
		margin-top:5px;
	  }
.search_cls
      {
		margin-left:70px;
	  }
.mrq
     {
	   width:1095px;
	   height:22px;
	   background:none;
	   margin-top:20px;
	   font-weight:bold;
	   font-size:22px;
	   word-spacing:5px;
	   letter-spacing:2px;
	 }
.ddr
      {
		width:600px;
		height:500px;
		background:#F0F;
		float:left;
		margin-left:60px;
		margin-top:30px;
	  }
.ddr_cls
     {
	   width:540px;
	   height:450px;
	   background:#FFFBF0;
	   float:left;
	   margin-left:30px;
	   margin-top:30px;
	 }
.me
    {
	  font-size:24px;
	  font-weight:bold;
	  text-align:center;
	  margin-top:5px;
	}
.prp
     {
	  font-size:22px;
	  margin-left:5px;
	  margin-top:10px;
	  word-spacing:3px;
	  letter-spacing:2px;
	 }
.list
      {
	    font-size:22px;
		font-weight:bold;
		text-align:center;
		margin-right:30px;
	  }
.Quli
       {
		 font-size:18px;
		 font-weight:bold;
		 word-spacing:4px;
	   }
.bdr
      {
	    width:320px;
		height:500px;
		float:right;
		margin-right:5px;
		border-style:solid;
		border-color:#A0A0A4;
		margin-top:10px;
	  }
.abt
     {
	   width:320px;
	   height:40px;
	   background:#808080;
	 }
.abt_cls
      {
		font-size:24px;
		font-weight:bold;
		margin-left:80px;
	  }
.img
       {
		 width:260px;
		 height:350px;
		 background:#0F5;
		 margin:0px auto;
		 margin-top:30px;
	   }
.img_cls
        {
		  text-align:center;
		  font-size:20px;
		  font-weight:bold;
		  word-spacing:2px;
		  letter-spacing:1px;
		}
.top
  {
	width:1090px;
	height:30px;
	background:#D49FAA;
	margin-top:580px;
	margin-left:2px;
  }
.top_text1
  {
	font-size:22px;
	font-weight:bold;
	margin-top:5px;
	text-align:center;
	color:#7F0055;
	word-spacing:4px;
	letter-spacing:1px;
  }